
#hero-section {
    height: 90vh;

    background-image: url("../images/bunny_boutique_hero_section.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hidden {
    display: none !important;
}