/* custom fonts */

@font-face {
  font-family: "VT323";

  src: url('../fonts/VT323-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";

  src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";

  src: url('../fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');

  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "La Belle Aurore";

  src: url('../fonts/LaBelleAurore-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

/* styling */

body {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 350px auto;
    /* margin-top: 15px; */
    height: 90vh;
}

main > .filter-box {
    width: 350px;
    padding: 15px;
    padding-top: 30px;
}

main #min-price .slider-selection {
    background: #cee2d6;
}

/* PRODUCT STYLING */

.product-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 87vh;
    overflow-y: auto; /* Moves the scrollbar to the whole column, not just products */
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    min-height: 87vh;
    overflow: scroll;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #cee2d6;
    padding-top: 10px;
    padding-bottom: 10px;
}

main > .content-form {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

main > .content-form .cart-header,
main > .content-form .cart-item {
    border-bottom: solid 1px #ccc;
}

.content-form .photo {
    display: flex;
    gap: 10px;
}

.content-form .photo img {
    width: 100px;
    cursor: pointer;
    border: solid 1px #ccc;
}

.content-form .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-form .cart-total {
    margin: 10px 0;
    color: maroon;
}

.product {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    /*width: 30%;*/
    border: solid 1px #ececec;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.product  .photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
    overflow: hidden;
    border-radius: 8px; /* rounded corners */
}

.product  .photo > img {
    width: 100%;
    height: 300px;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform 0.3s ease;
}

.product .photo:hover > img {
    transform: scale(1.05); /* scales img up by 10% */
}

.product h4 {
    font-size: 16pt;
    padding: 10px;
    min-height: 3em;
}

.product .price {
    font-weight: 900;
    color: #ce87ab;
    padding: 0px;
    padding-top: 15px;
    font-size: 14pt;
    min-height: 1em;
}

.modal-body img {
    width:100%;
}

.product > .add-button {
    /* background-color: hsl(130, 43%, 95%); */
    display: flex;
}

/* PROFILE & CART STYLING */

.profile-page, .cart-page {
    display: flex;
    justify-content: center;
    width: 100%;
    grid-column: 1 / -1; /* span across both grid columns (ignore filter) */
}

.profile-page .content-form,
.cart-page .content-form {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile-page .filter-box,
.cart-page .filter-box {
    display: none;
}

.profile-page h1 {
    padding-top: 50px;
}

.cart-header {
    padding-top: 50px;
}



/* BUTTON STYLING */

.btn-success {
    background-color: hsl(132, 22%, 64%) !important;
    border-color: hsl(132, 22%, 64%) !important;
    color: white; 
}

.btn-success:hover {
    background-color: hsl(331, 55%, 69%) !important;
    border-color: hsl(331, 55%, 69%) !important;
}

.visible {
    display: block;
}

.hidden {
    display: none !important;
}

.modal {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #777777aa;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    padding: 30px;
}

.modal-dialog {
    width: 50vw;
}

#errors {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100vw;
    padding-top: 5px;
    opacity: 90%;
}

#errors > div {
    width: 33vw;
}

.alert {
    margin-bottom: 2px !important;
}


footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #b7b7b7;
    padding: 30px 10px;
    background-color: rgb(255, 255, 255);
    font-style: italic;
}
