/* custom fonts */

@font-face {
  font-family: "VT323";

  src: url('../fonts/VT323-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";

  src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";

  src: url('../fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');

  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "La Belle Aurore";

  src: url('../fonts/LaBelleAurore-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

/* styling */

body {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 350px auto;
    /* margin-top: 15px; */
    height: 90vh;
}

main > .filter-box {
    width: 350px;
    padding: 15px;
}

main #min-price .slider-selection {
    background: #cee2d6;
}

main > .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 87vh;
    overflow: scroll;
}

main > .content-form {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

main > .content-form .cart-header,
main > .content-form .cart-item {
    border-bottom: solid 1px #ccc;
}

.content-form .photo {
    display: flex;
    gap: 10px;
}

.content-form .photo img {
    width: 100px;
    cursor: pointer;
    border: solid 1px #ccc;
}

.content-form .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-form .cart-total {
    margin: 10px 0;
    color: maroon;
}

.product {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    /*width: 30%;*/
    border: solid 1px #ccc;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.product  .photo {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
}

.product  .photo > img {
    width: 33%;
    cursor: pointer;
    border: solid 1px #ccc;
}

.product .price {
    font-weight: 900;
    color: #ce87ab;
}

.modal-body img {
    width:100%;
}

.product > .add-button {
    /* background-color: hsl(130, 43%, 95%); */
    display: flex;
}

/* BUTTON STYLING */

.btn-success {
    background-color: hsl(132, 22%, 64%) !important;
    border-color: hsl(132, 22%, 64%) !important;
    color: white; 
}

.btn-success:hover {
    background-color: hsl(331, 55%, 69%) !important;
    border-color: hsl(331, 55%, 69%) !important;
}

.visible {
    display: block;
}

.hidden {
    display: none !important;
}

.modal {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    background-color: #777777aa;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    padding: 30px;
}

.modal-dialog {
    width: 50vw;
}

#errors {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100vw;
    padding-top: 5px;
    opacity: 90%;
}

#errors > div {
    width: 33vw;
}

.alert {
    margin-bottom: 2px !important;
}

